.formElement {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__input {
    width: 100%;
    border-radius: 4px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid $textColor-25;
    color: $textColor-25;
    transition: border-color 0.3s ease, color 0.3s ease;
    background-color: #fff;

    &:hover,
    &_hovered {
      border: 1px solid $textColor-50;
      color: $textColor-75;
    }
    &_icon {
      padding-right: 36px;
    }
  }
  &__button {
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
    transition: opacity 0.2s ease;
    position: relative;
    right: 9px;
    align-self: flex-end;
    bottom: 19px;

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.5;
    }
    &_twoview {
      .material-icons {
        color: $textColor-50;
      }
    }

    i {
      display: block;
    }
  }

  &__title {
    font-family: $fontPrimary;
    font-size: $textSm;
    text-transform: uppercase;
    line-height: 14.63px;
    font-weight: bold;
    color: $textColor;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  &__type {
    font-weight: normal;
    color: $textColor-50;
  }
}
