mixin input(options = {},attributesButton)
  - var { label, type = ""} = options
    .formElement
        label.formElement__wrapper
            div.formElement__title
                = label
                if type
                    .formElement__type= type
            - var inputClass = "formElement__input"
            if (type.indexOf("Hover") !== -1)
              - inputClass += " formElement__input_hovered"
            if attributesButton
              - inputClass += " formElement__input_icon"
            input(class= inputClass)&attributes(attributes)
            if attributesButton
              button.formElement__button(type= "formElement__button_twoview")
                i.material-icons= attributesButton.icon