extends ../../layouts/ui-kit
include ../../components/input/input
include ../../components/selectElement/selectElement
include ../../components/dateDropdown/dateDropdown


block head
  - var title = "Элементы сайта";

block content
    main.ui-kit-page.pageFormElements
        .container
            .ui-kit-row
                .ui-kit-column
                    .item
                        +input({label: "Text Field", type: "default"})(placeholder="Email")
                    .item
                        +input({label: "Text Field", type: "Hover / Focus"})(value="This is pretty awesome")
                    .item
                        +selectElement({label: "Dropdown",value:"Сколько гостей"})
