mixin image(image, index)
  - var className = "galleryImages__item"
  if index === 0
    - className = `${className} galleryImages__item_current`
  div(class= className)
    img.galleryImages__itemImg(src= image.src loading="lazy" alt= image.alt)

mixin galleryImages(images)
  section.galleryImages
    for image, index in images
      +image(image, index)