$galleryHeight: 485px;
$galleryWidth: 100vw;

.galleryImages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: $galleryHeight;
  max-width: $galleryWidth;

  &__item {
    max-width: calc(#{$galleryWidth} / 3);
    max-height: 50%;
    &_current {
      max-height: 100%;
      max-width: calc(#{$galleryWidth} / 3 * 2);
    }
  }
  &__itemImg {
    height: 100%;
  }
}
