$galleryHeight: 485px;
$galleryWidth: 100vw;

.galleryImages {
  &__list {
    margin: 0;
  }
  &__listWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: $galleryHeight;
    max-width: $galleryWidth;
  }
  &__item {
    flex-grow: 1;
    max-width: calc(#{$galleryWidth} / 3);
    max-height: 50%;
    overflow: hidden;
    &_current {
      max-height: 100%;
      max-width: calc(#{$galleryWidth} / 3 * 2);
    }
  }
  &__itemImg {
    height: 100%;
    object-fit: cover;
  }
}
