mixin image(image, index)
  - var className = "galleryImages__item"
  if index === 0
    - className = `${className} galleryImages__item_current`
  div(class= className)
    img.galleryImages__item_img(src= image.src loading="lazy" alt= image.alt)

mixin galleryImages(images)
  section.galleryImages
    figure.galleryImages__list
      .galleryImages__listWrapper
        for image, index in images
          +image(image, index)