.filters {
  width: 325px;

  .item {
    width: 265px;
  }
}
.searchPage {
  margin-top: 30px;
  .searchFilterItem1MarginBottom {
    margin-bottom: 20.44px;
  }
  .searchFilterItem2MarginBottom {
    margin-bottom: 30.44px;
  }
  .searchFilterItem3MarginBottom {
    margin-bottom: 30px;
  }
  .searchFilterItem4MarginBottom {
    margin-bottom: 30.88px;
  }
  .searchFilterItem5MarginBottom {
    margin-bottom: 30.44px;
  }
  .searchFilterItem6MarginBottom {
    margin-bottom: 30px;
  }
  .searchFilterItem7MarginBottom {
    margin-bottom: 21px;
  }
}
.searchPage__columns {
  display: flex;
  width: 100%;
}
