.signin,
.reg {
  min-height: 683px;
  padding: 19px 0 18px;
  background-image: url(./../assets/images/bed-light.jpg);
  background-repeat: no-repeat;
  background-color: #efefff;
  background-size: cover;
  background-position: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
