@font-face {
  font-family: "Quicksand";
  src: url("./../fonts/quicksand/quicksand-regular.woff2"),
    url("./../fonts/quicksand/quicksand-regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("./../fonts/quicksand/quicksand-bold.woff2"),
    url("./../fonts/quicksand/quicksand-bold.woff");
  font-weight: 400;
  font-style: bold;
}
