.container {
  max-width: 1140px;
  margin: 0 auto;
  min-width: 320px;
}
.ui-kit-wrapper {
  min-height: 100vh;
}
.ui-kit-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.ui-kit-column {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}
