/*Sizes*/
$baseSizeText: 14px;
$textXs: 10px;
$textSm: 12px;
$textMd: 19px;
$textLg: 24px;

/* Fonts */
$fontPrimary: "Montserrat", Arial, serif;
$fontSecondary: "Quicksand", "Open Sans", Arial, serif;

/*Colors */
$baseColor: #bc9cff;
$textColor: #1f2041;
$textColor-75: rgba($textColor, 0.75);
$textColor-50: rgba($textColor, 0.5);
$textColor-25: rgba($textColor, 0.25);
$textColor-10: rgba($textColor, 0.1);
$textColor-2: rgba($textColor, 0.02);
