extends ../../layouts/layoutOnDefault
include ../../components/dateDropdown/dateDropdown
include ../../components/input/input
include ../../components/formBox/formBox
include ../../components/button/button
include ../../components/selectElement/selectElement

block head
  - var title = "Главная страница";

block logo
  - var isMainPage = true

block content
  -
    var items = [
      {title: "Взрослые", count: 0, typeOfData: "Гости"},
      {title: "Дети", count: 0, typeOfData: "Гости"},
      {title: "Младенцы", count: 0},
    ]
  main.mainPage
    .container
      .contentWrapper
        p.subtitle Лучшие номера для вашей работы, отдыха и просто вдохновения
        +formBox({title: "Найдём номера под ваши пожелания"})
            .formBox__item.mb21
                +dateDropdown({split: true})
                // TODO Указать загрузку данных из файла data.js
            .formBox__item 
                +selectElement({items, label: "Гости", name: "guestCount", required: true, placeholder: "Сколько гостей", withButtons: true})
                +button({name: "Подобрать номер", icon: "arrow_forward", size: "l", href: "search.html"})