extends ../../layouts/layoutOnDefault
include ../../components/dateDropdown/dateDropdown
include ../../components/input/input
include ../../components/formBox/formBox
include ../../components/button/button
include ../../components/selectElement/selectElement

block head
  - var title = "Главная страница";

block logo
  - var isMainPage = true

