extends ../../layouts/layoutOnDefault
include ../../components/dateDropdown/dateDropdown
include ../../components/input/input
include ../../components/formBox/formBox
include ../../components/button/button
include ../../components/selectElement/selectElement

block head
  - var title = "Главная страница";

block logo
  - var isMainPage = true

block content
 
  main.mainPage
    .container
      .contentWrapper
        p.subtitle Лучшие номера для вашей работы, отдыха и просто вдохновения
        +formBox({title: "Найдём номера под ваши пожелания"})
            .formBox__item.mb21
                +dateDropdown({split: true})
            .formBox__item.mb31
                +selectElement({dataSetName:"itemsEmpty", label: "Гости", name: "guestCount", required: true, placeholder: "Сколько гостей", withButtons: true})
            .formBox__item
              +button({name: "Подобрать номер", icon: "arrow_forward", size: "l", href: "search.html"})