include ../button/button
include ../mobileMenu/mobileMenu

-
  var itemsOfNav = [
    { title: "О нас", href: "javascript:void(0)" },
    { title: "Услуги", href: "javascript:void(0)" ,children:[]},
    { title: "Вакансии", href: "javascript:void(0)" },
    { title: "Новости", href: "javascript:void(0)" },
    { title: "Соглашения", href: "javascript:void(0)",children:[] },
  ]

if currentPage
  -
    itemsOfNav.forEach((item) => {
      if (item.title === currentPage) {
        item.active = true
      } else {
        item.active = false
      }
    })

mixin getNavigatiOnItem(itemOfNav)
  li(class= itemOfNav.active ? "blockNavigation__item jsBlockNavigation__item blockNavigation__item_active" : "blockNavigation__item jsBlockNavigation__item")
    if itemOfNav.active || itemOfNav.children
      .blockNavigation__itemLink= itemOfNav.title
        if itemOfNav.children
          i.material-icons expand_more
    else
      a.blockNavigation__itemLink(href= itemOfNav.href)= itemOfNav.title

mixin getNavigation(navItems)
  ul.header__blockNavigation.blockNavigation
    for itemOfNav in itemsOfNav
      +getNavigatiOnItem(itemOfNav)

header.header
  .container
    nav.header__navigation
      include ../logo/logo
      +getNavigation(navItems)
      if user
        .header__user= user
      else
        ul.header__userNavigation
          li.userNavigation__item
            +button({name: "Войти", type: "secondary", href: "signin.html"})
          li.userNavigation__item
            +button({name: "Зарегистрироваться", href: "reg.html"})
    nav.header__navigation.header__navigation_forMobile
      .header__row.header__row_mobile
        include ../logo/logo
        +mobileMenu()
      .header__navigationWrapper
        +getNavigation(navItems)
        if user
          .header__user= user
        else
          ul.header__userNavigation
            li.userNavigation__item
              +button({name: "Войти", type: "secondary", href: "signin.html"})
            li.userNavigation__item
              +button({name: "Зарегистрироваться", href: "reg.html"})