.header {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  top: 0;
  &__navigation {
    padding: 14.01px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__blockNavigation,
  &__userNavigation {
    display: flex;
    flex-wrap: wrap;
  }
  &__blockNavigation {
    margin-left: auto;
    margin-right: 20px; //Todo warning
    color: $textColor-50;
  }
  .blockNavigation {
    &__item {
      padding-right: 20px; //Todo warning
      &_active {
        font-weight: bold;
        color: $textColor-75;
        .blockNavigation__itemLink {
          cursor: initial;
        }
      }
    }
    &__item:last-child {
      padding-right: 0;
    }
    &__itemLink {
      transition: color 0.2s ease;
      display: flex;
      align-items: flex-end;
      line-height: 25px;
      color: $textColor-50;
      font-family: $fontPrimary;
      cursor: pointer;
      &:hover {
        color: $textColor-75;
      }
      &:visited {
        color: $colorSecondary;
      }
    }
  }
  &__userNavigation {
    .userNavigation__item {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__user {
    color: $textColor-50;
    padding-left: 20px;
    border-left: 1px solid $textColor-10;
    position: relative;
  }
}
