include ../rateButton/rateButton
include ../../lib

mixin roomItem(options)
  - var {imgList = [], number = 0, isLux = false, cost = 0, rate = 0, reviewCount = 0} = options;

  .roomItem
    .roomItem__gallery
      for img in imgList
        img.roomItem__galleryItem(src= img)
    a.roomItem__desc(href="room.html")
      .roomItem__descRow.roomItem__descRow_underlined
        p.roomItem__title
          | № 
          span.roomItem__title_big= number
          if isLux 
            span.roomItem__type= ` Люкс`
        p.roomItem__info
          span.roomItem__infoItem.roomItem__infoItem_bold
            +numberWithSpaces(cost)
            | ₽ 
          span.roomItem__infoItem.roomItem__infoItem_small в сутки
      .roomItem__descRow
        .roomItem__rate
          +rateButton(rate)
        p.roomItem__info
          span.roomItem__infoItem.roomItem__infoItem_bold= `${reviewCount} `
          | Отзывов