.likeButton {
  background-color: $textColor-25;
  padding: 1px;
  font-size: $textXs;
  border: none;
  color: $textColor-25;
  outline: none;
  border-radius: 50px;
  margin-right: 10px;
  transition: background-color 0.2s ease, background-image 0.2s ease;
  &_active {
    background-color: $colorPrimary;
    background-image: $gradientPrimary;
    color: $colorPrimary;
  }
  &:hover {
    background-color: $colorPrimary;
  }
  &:focus {
    .like-button__wrapper {
      background-color: $colorPrimaryLight;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 4px 10px 3px 4px;
    border-radius: 50px;
  }
  .material-icons {
    font-size: inherit;
    margin-right: 7px;
  }
}
