$toggleWidth: 40px;
$toggleHeight: calc(#{$toggleWidth} / 2);
$togglePadding: 3px;
$toggleRadius: calc(#{$toggleWidth});
$circleSize: calc(#{$toggleHeight} - #{$togglePadding} * 2 - 2px);
$circleRadius: calc(#{$circleSize} * 2);

.toggle {
  display: flex;
  cursor: pointer;
  &__input {
    &:checked {
      & + .toggle__indicator {
        border-color: $colorPrimary;
        &:after {
          background: $gradientPrimary;
          left: calc(100% - #{$togglePadding});
          transform: translateX(-100%);
        }
      }
    }
  }
  &__indicator {
    height: $toggleHeight;
    min-width: $toggleWidth;
    border-radius: $toggleRadius;
    border: 1px solid $textColor-25;
    position: relative;
    transition: border-color 0.4s ease, background-color 0.3s ease;
    margin-right: 20px;
    &:after {
      content: "";
      position: absolute;
      top: $togglePadding;
      bottom: $togglePadding;
      left: $togglePadding;
      width: $circleSize;
      background-color: $textColor-25;
      border-radius: $circleRadius;
      transition: left 0.2s, width 0.3s, transform 0.2s;
    }
  }
}
