extends ../../layouts/ui-kit
include ../../components/renderAllColors/renderAllColors
include ../../components/input/input
include ../../components/selectElement/selectElement
include ../../components/dateDropdown/dateDropdown
include ../../components/button/button
include ../../components/toggle/toggle
include ../../components/radioGroup/radioGroup
include ../../components/calendar/calendar
include ../../components/formBox/formBox





block head
  - var title = "Карточки сайта";


block content
  main.ui-kit-page