extends ../../layouts/ui-kit
include ../../components/renderAllColors/renderAllColors
include ../../components/input/input
include ../../components/selectElement/selectElement
include ../../components/dateDropdown/dateDropdown
include ../../components/button/button
include ../../components/toggle/toggle
include ../../components/radioGroup/radioGroup
include ../../components/calendar/calendar
include ../../components/formBox/formBox
include ../../components/roomItem/roomItem
include ../../components/price/price


block head
  - var title = "Карточки сайта";


block content
    -
        var items = [
            {title: "Взрослые", count: 0, typeOfData: "Гости"},
            {title: "Дети", count: 0, typeOfData: "Гости"},
            {title: "Младенцы", count: 0},
        ]
        var itemsWithGuests = [
            {title: "Взрослые", count: 2, typeOfData: "Гости"},
            {title: "Дети", count: 1, typeOfData: "Гости"},
            {title: "Младенцы", count: 0},
        ]

    main.ui-kit-page.ui-kit-page-cards
        .container
            .ui-kit-row
                .ui-kit-column
                    .card
                        +formBox({title: "Найдём номера под ваши пожелания"})
                            .formBox__item.mb21
                                +dateDropdown({split: true})
                            .formBox__item
                                +selectElement({items, label: "Гости", name: "guestCount", required: true, placeholder: "Сколько гостей", withButtons: true})
                                +button({name: "Подобрать номер", icon: "arrow_forward", size: "l", href: "search.html"})
                    .card
                        -
                            var radioGroup = {
                                name: "user-gender",
                                title: "Ваш пол",
                            radioButtons: [
                                {label: "Мужчина", value: "man", checked: true},
                                {label: "Женщина", value: "woman"}
                            ]
                            }
                        +formBox({title: "Регистрация аккаунта"})
                            .formBox__item.mb10
                                +input()(placeholder="Имя" name="user-name" required)
                            .formBox__item.mb10
                                +input()(placeholder="Фамилия" name="user-surname")
                            .formBox__item.mb20
                                +radioGroup(radioGroup)
                            .formBox__item.mb20
                                +input({label: "Дата рождения"})(placeholder="ДД.ММ.ГГГГ" name="user-bday")
                            .formBox__item.mb10
                                +input({label: "Данные для входа в сервис"})(type="email" placeholder="Email" name="user-email" required)
                            .formBox__item.mb10
                                +input()(type="password" placeholder="Пароль" name="user-password" required)
                            .formBox__item.mb20
                                +toggle({label: "Получать спецпредложения", name: "allow-notifications"})
                            .formBox__item.mb30
                                +button({name: "Перейти к оплате", icon: "arrow_forward", size: "l"})(type="submit")
                            .formBox__item.withButton
                                p.dialog__text Уже есть аккаунт на Toxin
                                +button({name: "Войти", type: "secondary", href: "signin.html", size: "l"})
                .ui-kit-column
                    .card
                        +formBox({number: "888", isLux: true, cost: 9990})
                            .formBox__item.mb20
                                +dateDropdown({split: true, start: new Date(2020, 7, 19), end: new Date(2020, 7, 23)})
                            .formBox__item.mb20
                                +selectElement({items: itemsWithGuests, label: "Гости", name: "guestCount", required: true, placeholder: "Сколько гостей", withButtons: true})
                            .formBox_item
                                +price({roomCost: 9990, days: 4, servicesCost: -2179, additional: 300})
                            .formBox__item.mb21
                                +button({name: "Забронировать", icon: "arrow_forward", size: "l"})(type="submit")
                    .card
                        +formBox({title: "Войти"})
                            .formBox__formItem.mb10
                                +input()(type="email" placeholder="Email" name="user-email" required)
                            .formBox__formItem.mb10
                                +input()(type="password" placeholder="Пароль" name="user-password" required)
                            .formBox__formItem.mb20
                                +button({name: "Войти", icon: "arrow_forward", size: "l"})(type="submit")
                            .formBox__formItem.withButton
                                p.dialog__text Нет аккаунта на Toxin?
                                +button({name: "Создать", type: "secondary", href: "registration.html", size: "l"})
                .ui-kit-column
                    .card
                        +calendar()
                    .card
                        +roomItem({imagesList: ["assets/images/888/1-sm.jpg", "assets/images/888/2-sm.jpg", "assets/images/sliders/3-sm.jpg", "assets/images/sliders/2-sm.jpg"], number: 888, isLux: true, cost: 9990, rate: 5, reviewCount: 145})
                    .card.card--with-room
                        +roomItem({imagesList: ["assets/images/sliders/840.jpg", "assets/images/sliders/840.jpg", "assets/images/sliders/840.jpg", "assets/images/sliders/840.jpg"], number: 840, isLux: false, cost: 9900, rate: 4, reviewCount: 65})
                                