.list-colors {
  &__item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  &__block {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
  }
  &__desc {
    letter-spacing: -1px;
    font-family: $fontSecondary;
    font-size: $textMd;
    color: $textColor;
    line-height: 28.5px;
  }
  &__title {
    letter-spacing: normal;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
